<template>
  <q-page padding>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex' }" />
      <q-breadcrumbs-el label="Cats" />
    </q-breadcrumbs>

    <h1>Cat Facts</h1>
    <q-btn label="+ Add New Fact" color="positive" class="q-mb-md" @click="openCreateFactDialog" />

    <div class="q-pa-md">
      <q-banner v-if="!hasMorePages" class="text-white">
        There are no facts added yet!
      </q-banner>
      <q-infinite-scroll @load="onLoad" ref="scroll" :offset="250">
        <div class="row content-stretch">
          <div v-for="(item, index) in facts" :key="index"
            class="q-px-sm col-xs-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 q-mb-md">
            <q-card>
              <q-card-section>
                {{ item.fact }}
              </q-card-section>
              <q-separator dark />
              <q-card-actions align="right">
                <q-btn flat color="primary" class="q-mr-sm" icon="edit" @click="openEditFactDialog(item)" />
                <q-btn flat color="negative" icon="delete" @click="confirmDeleteFact(Number(item.id))" />
              </q-card-actions>
            </q-card>
          </div>
        </div>
        <template v-slot:loading>
          <div class="row justify-center q-my-md">
            <q-spinner-dots color="primary" size="40px" />
          </div>
        </template>
      </q-infinite-scroll>
    </div>

    <form-dialog :visible="createDialog" title="Create Cat Fact" :fact="fact" :onSave="storeFact"
      @close="createDialog = false" />

    <form-dialog :visible="editDialog" :title="`Edit Cat Fact ${factId}`" :fact="fact" :onSave="updateFact"
      @close="editDialog = false" />

    <confirm-dialog :visible="confirmDelete" :title="`Delete Cat Fact ${factId}`"
      message="Are you sure you want to delete this fact? THIS ACTION CANNOT BE UNDONE!" :fact="fact" :onSave="deleteFact"
      @close="confirmDelete = false" />
  </q-page>
</template>

<script lang="ts" setup>
import useCatsStore from 'src/stores/cats'
import FormDialog from 'src/components/FormDialog.vue'
import ConfirmDialog from 'src/components/ConfirmDialog.vue'
import { ref, computed, reactive } from 'vue'
import { Fact } from 'src/models/Fact'

const catsStore = useCatsStore()

const facts = ref<Fact[]>([])
const fact = ref('')
const factId = ref<number | null>(0)
const page = reactive({ size: 18, last: 1, total: 1 })

const createDialog = ref(false)
const editDialog = ref(false)
const confirmDelete = ref(false)

const hasMorePages = computed(() => page.total > 0)

const onLoad = async (index: number, done: () => void): Promise<void> => {
  if (index > page.last) {
    done()
    return
  }

  try {
    const response = await catsStore.getAllFacts({ pageSize: page.size, page: index })
    facts.value.push(...response.data.data)
    page.last = response.data.last_page
    page.total = response.data.total
    done()
  } catch (error) {
    console.error(error)
  }
}

const openCreateFactDialog = () => {
  factId.value = 0
  fact.value = ''
  createDialog.value = true
}

const storeFact = (factValue: string) => {
  fact.value = factValue
  catsStore.storeFact({ fact })
    .then(() => {
      createDialog.value = false
      facts.value.push(catsStore.fact)
      if (page.total === 0) {
        page.total = 1
      }
    })
    .catch(error => console.error(error))
}

const openEditFactDialog = (updatedFact: Fact) => {
  factId.value = Number(updatedFact.id)
  fact.value = updatedFact.fact
  editDialog.value = true
}

const updateFact = (factValue: string) => {
  fact.value = factValue
  catsStore.updateFact(factId.value as number, { fact })
    .then(() => {
      editDialog.value = false
      const updatedFact = facts.value.find((item: Fact) => item.id === factId.value)
      if (updatedFact) {
        updatedFact.fact = fact.value
      }
    })
    .catch(error => console.error(error))
}

const confirmDeleteFact = (id: number) => {
  factId.value = id
  confirmDelete.value = true
}

const deleteFact = () => {
  const id = factId.value
  catsStore.deleteFact(Number(id))
    .then(() => {
      confirmDelete.value = false
      facts.value = facts.value.filter((item: Fact) => item.id !== id)
      if (facts.value.length === 0) {
        page.total = 0
      }
    })
    .catch(error => console.error(error))
}
</script>
