<template>
  <q-dialog v-model="dialogVisible" persistent>
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <q-avatar icon="warning" text-color="yellow" />
        <div class="text-h6">{{ title }}</div>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeDialog" />
      </q-card-section>
      <q-card-section class="row">
        <div class="q-ml-sm">{{ message }}</div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" @click="closeDialog" />
        <q-btn flat label="Confirm" color="primary" @click="saveFact" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
export default {
  props: {
    visible: Boolean,
    title: String,
    message: String,
    fact: String,
    onSave: Function as () => void
  },
  data () {
    return {
      currentFact: this.fact,
      dialogVisible: this.visible
    }
  },
  watch: {
    visible: {
      immediate: true,
      handler (newVal) {
        this.dialogVisible = newVal
      }
    },
    fact: {
      immediate: true,
      handler (newVal) {
        this.currentFact = newVal
      }
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close')
    },
    saveFact () {
      this.onSave(this.currentFact)
      this.closeDialog()
    }
  }
}
</script>
