<template>
  <q-dialog v-model="dialogVisible" persistent>
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">{{ title }}</div>
        <q-space></q-space>
        <q-btn icon="close" flat round dense @click="closeDialog" />
      </q-card-section>
      <q-card-section class="row items-center">
        <q-input outlined v-model="updatedFact" label="Fact" :rules="[(value) => !!value || 'A fact is required']" />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" @click="closeDialog" />
        <q-btn flat label="Save Fact" color="primary" @click="saveFact" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
export default {
  props: {
    visible: Boolean,
    title: String,
    fact: String,
    onSave: Function as () => void
  },
  data () {
    return {
      updatedFact: this.fact,
      dialogVisible: this.visible
    }
  },
  watch: {
    visible: {
      immediate: true,
      handler (newVal) {
        this.dialogVisible = newVal
      }
    },
    fact: {
      immediate: true,
      handler (newVal) {
        this.updatedFact = newVal
      }
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close')
    },
    saveFact () {
      this.onSave(this.updatedFact)
      this.closeDialog()
    }
  }
}
</script>
